.comment-item {
  border: 0; }
  .comment-item .icon-comment {
    color: black;
    padding: 0 0 0 15px;
    background: none;
    font-size: 15px;
    border: 0; }
  .comment-item .icon-comment:hover {
    color: #4790df; }
  .comment-item .icon-comment:focus {
    outline: none; }
  .comment-item .comment-header {
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
    border-radius: 5px 5px 0 0; }
    .comment-item .comment-header p {
      padding-left: 20px; }
    .comment-item .comment-header img {
      width: 40px;
      height: inherit;
      border-radius: 50%; }
  .comment-item .comment-content p {
    margin: 0; }
  .comment-item .comment-footer {
    background: none;
    padding: 10px 15px;
    border: 0; }
    .comment-item .comment-footer p {
      padding: 0; }
