.full-width {
  width: 100%;
}
.form-label-md {
  font-size: 1rem;
  font-weight: bold;
}
.gap-bottom-sm {
  margin-bottom: 10px;
}
.gap-bottom-md {
  margin-bottom: 20px;
}
.no-padding {
  padding: 0;
}
.no-padding-l {
  padding-left: 0;
}
.no-padding-r {
  padding-right: 0;
}
.no-padding-t {
  padding-top: 0;
}
.no-padding-b {
  padding-bottom: 0;
}