.post-item {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  .card-footer {
    background-color: white;
    border-top: 0px;
    font-size: 1rem;
    button{
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,.125);
      background: none;
    }
    .icon-padding{
      color: rgba(0,0,0,.25);
      padding: 10px 20px;
    }
    p {
      padding: 10px 0;
      margin-bottom: 0px;
    }
  }
  .card-header {
    p {
      margin-bottom: 0px;
      button {
        background: none;
        border: 0px;
        font-size: 15px;
      }
    }
  }
}