.uploadContainer {
  background: none;
  border-radius: 5px;
  float: left;
  padding: 20px;
  overflow: hidden;
  position: relative;
  border: 1px dotted black;
}

.uploadContainer [type=file]{
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.btn-upload {
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
  color: #fff;
  background-color: #59d;
}
.btn-upload:hover{
  background: #48c;
}
.input-upload-title{
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  // border-radius: 5px;
  border-top: 0px;
  border-bottom: 0px solid black;
  border-left: 0px;
  border-right: 0px; 
}